# CHAPTER:03

# Exercises

# 3.1

In [2]:
x=eval(input('Enter the current temperature in Fareh: '))
cel=(x-32)*5/9
print('The current temperature in Celsius is : ',cel)

Enter the current temperature in Fareh: 65
The current temperature in Celsius is :  18.333333333333332

# 3.2

In [3]:
#(a)
age=eval(input('Enter your age : '))
if age > 62:
    print('You can get your pension benefits')

Enter your age : 65
You can get your pension benefits

In [4]:
#(b)
lst=['Musial','Aaron','Williams','Gehrig','Ruth']
name='Aaron'
if name in lst:
    print('One of the top 5 baseball players,ever!')

One of the top 5 baseball players,ever!

In [5]:
#(c)
hits=11
sheild=0
if hits>10 and sheild==0:
    print('You are dead')

You are dead

In [6]:
#(d)
north=0
south=0
west=0
east=0
if north or south or east or west==0:
    print('I can escape')

I can escape

# 3.3

In [7]:
#(a)
year=16
if year//4:
    print('Could be a leap year')
else:
    print('Definitely not a leap year')

Could be a leap year

In [8]:
#(b)
ticket=[259836,5690,8721]
lottery=[5690]
if ticket==lottery:
    print('You won!')
else:
    print('Better luck next time...')

Better luck next time...

# 3.4

In [9]:
lst=['joe','sue','hani','sophie']
login=input('id :')
if login in lst:
    print('You are in!')
else:
    print('User unknown')
print('Done')

id :sue
You are in!
Done

# 3.5

In [10]:
lst=eval(input('Enter the lst of words: '))
print('Your list is: ')

for words in lst:
    print(words)

Enter the lst of words: ['stop','desktop','post','top']
Your list is:
stop
desktop
post
top

# 3.6

In [1]:
numbers=eval(input('integers'))
for i in numbers:
    print(i)

integers(0,1,2,3,4,5,6,7,8,9)
0
1
2
3
4
5
6
7
8
9

In [2]:
number1=eval(input('write a number: '))
for i in number1:
    print(i)

write a number: (0,1)
0
1

# 3.7

In [3]:
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [4]:
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [5]:
for i in range (0,24,3):
    print(i)

0
3
6
9
12
15
18
21

In [6]:
for i in range(3,12,5):
    print(i)

3
8

# 3.8

In [7]:
import math
def perimeter(radius):
    return (2*math.pi*radius)
perimeter(3)

18.84955592153876

# 3.9

In [8]:
def average(num1,num2):
    return (num1+num2)/2
average(1,3)

2.0

# 3.10

In [9]:
def noVowel(x):
    vowels='aeiouAEIOU'
    if vowels!=noVowel:
        print('True')
    else:
        print('False')
noVowel('s')

True

# 3.11

In [10]:
def alleven(x):
    even=2/2==0
    if alleven==even:
        print('True')
    else:
        print('False')
alleven([2,4,9,6,8])

False

# 3.12

In [11]:
def negatives(x):
    for i in x:
        if i<0:
            print(i)
negatives([4,0,-1,-3,6,-9])

-1
-3
-9

# 3.13

In [12]:
help(average)

Help on function average in module __main__:

average(num1, num2)

In [13]:
help(negatives)

Help on function negatives in module __main__:

negatives(x)

# 3.14

In [14]:
a=[5,6,7]
b=a
a=3

# 3.15

In [15]:
team=['Ava','Eleanor','Clare','Sarah']
team[0],team[1]=team[1],team[0]
team

['Eleanor', 'Ava', 'Clare', 'Sarah']

# 3.16

In [16]:
def swap(lst):
    lst[0],lst[-1]=lst[-1],lst[0]
    print(lst)
swap(['flour','apples','butter','sugar'])

['sugar', 'apples', 'butter', 'flour']

# 3.17

In [17]:
eval('2*3+1')

7

In [7]:
eval("'hello'")

'hello'

In [5]:
eval("'hello'+' '+'world!'")

'hello world!'

In [3]:
eval("'x=5'")

'x=5'

In [3]:
eval("'ASCII'.count('I')")

2

# 3.18

In [4]:
a,b,c=3,4,5

In [5]:
if a<b:
    print('OK')

OK

In [6]:
if c<b:
    print('OK')

In [9]:
if ((a+b)==c):
    print('OK')

In [10]:
if ((a**2+b**2)==c**2):
    print('OK')

OK

# 3.19

In [11]:
if a<b:
    print('OK')
else:
    print('NOT OK')

OK

In [12]:
if c<b:
    print('OK')
else:
    print('NOT OK')

NOT OK

In [13]:
if ((a+b)==c):
    print('OK')
else:
    print('NOT OK')

NOT OK

In [15]:
if ((a**2+b**2)==c**2):
    print('OK')
else:
    print('NOT OK')

OK

# 3.20

In [30]:
lst=['January','February','March']
for i in lst:
    print(i[:3])

Jan
Feb
Mar

# 3.21

In [47]:
for i in lst:
    if (i%2)==0:
        print(i)
lst=([2,3,4,5,6,7,8,9])

2
4
6
8

# 3.22

In [52]:
for i in lst:
    if ((i**2)%(8))==0:
        print(i)
lst=([2,3,4,5,6,7,8,9])

4
8

# 3.23

In [55]:
for i in range(0,2):
    print(i)

0
1

In [56]:
for i in range(0,1):
    print(i)

0

In [57]:
for i in range(3,7):
    print(i)

3
4
5
6

In [67]:
for i in range(1):
    print(i)

0

In [68]:
for i in range(5,22,4):
    print(i)

5
9
13
17
21

# 3.24

In [70]:
lst=['cia','secret','mi6','isi','secret']
for i in lst:
    if i!='secret':
        print(i)

cia
mi6
isi

# 3.25

In [77]:
lst=['Ellie','Steve','Sam','Owen','Gavin']
for i in lst:
    if i!='':
        print(i)

# 3.26

In [80]:
eval(input('Enter a list: '))
a=min(lst)
b=max(lst)
print('The first element is ',a)
print('The last element is ',b)

Enter a list: [3,5,7,9]
The first element is  3
The last element is  9

# 3.27

In [82]:
eval(input('Enter: '))
for i in range(0,4):
    print(i*5)

Enter: 5
0
5
10
15

# 3.28

In [84]:
eval(input('Enter i: '))
for i in range(0,3):
    print(i**2)

Enter i: 3
0
1
4

# 3.29

In [90]:
eval(input('Enter i: '))
for i in range(1,5):
    print(i%36)

Enter i: 36
1
2
3
4

# 3.30

In [92]:
a=eval(input('Enter the first number: '))
b=eval(input('Enter the second number: '))
c=eval(input('Enter the third number: '))
d=eval(input('Enter the fourth number: '))
if (a+b+c)/3==d:
    print('Equal')

Enter the first number: 4.5
Enter the second number: 3
Enter the third number: 3
Enter the fourth number: 3.5
Equal

# 3.31

In [ ]:
eval(input('Enter x: '))
eval(input('Enter y: '))

# 3.32

In [103]:
integer=(input('Enter n: '))
for char in integer:
    print(char)

Enter n: 1234
1
2
3
4

# 3.33

In [ ]:
def reverse_string('abc'):
    print()

# 3.34

In [ ]:
def pay(an hourly wage,no. of hours emplyee work):

# 3.35

In [52]:
import math
def prob(n):
    return 2**(-n)
print(prob(1))
print(prob(2))

0.5
0.25

# 3.36

In [58]:
def reverse_int(n):
    x=0
    while(n!=0): 
        x*=10
        x+=n%10
n = 908   
print (n)

908

# 3.37

In [46]:
import math
def points(x1,y1,x2,y2):
    distance=str(math.sqrt((x1-x2)**2+(y1-y2)**2))
    if (x1==x2):
        slope='infinity'
    else:
        slope=str((y2-y1)/(x2-x1))
    print('The slope is'+slope+'and the distance is '+distance)
print(points(0,0,1,1))
print(points(0,0,0,1))

The slope is1.0and the distance is 1.4142135623730951
None
The slope isinfinityand the distance is 1.0
None

# 3.38

In [47]:
abbreviation=['Tuesday']
for i in abbreviation:
    print(i[:2])

Tu

# 3.39

In [48]:
collision=(0,0,3,0,5,3)
if (collision==0):
    print('True')
else:
    print('False')

False

# 3.40

In [49]:
partition=['Eleanor','Evelyn','Sammy','Owen','Gavin']
for i in partition:
    if i.startswith("E"):
        print(i)

Eleanor
Evelyn

# 3.41

In [50]:
def lastF(st):
    lst = st.split()
    n= "" 
    for i in range(len(lst)-1):
        st = lst[i]
        n += (st[0].upper()+'.')
        n += lst[-1].title()
        return n            
st=input("Enter Full Name: ")
print("Short Form of Name Is: ",lastF(st))

Enter Full Name: 'Albert Camus'
Short Form of Name Is:  '.Camus'

# 3.42

In [51]:
avg=eval(input([95,92,86,87],[66,54],[89,72,100],[33,0,0])
def avg(s):
      s=

SyntaxError: invalid syntax (<ipython-input-51-a8dae46fa0e4>, line 2)

# 3.43

In [66]:
hit=[0,0,3,3,0]
if hit==0:
    print('True')
else:
    print('False')

False